@import "tailwindcss";

@layer base {
  body {
    @apply font-serif;
  }
}

@layer utilities {
  .remote-speaker {
    width: 18%;
    height: 80px;
  }

  #local-video-left,
  #local-video-right {
    bottom: 20px;
    width: 150px;
    height: 100px;
  }

  #local-video-left {
    left: 20px;
  }

  #local-video-right {
    right: 20px;
  }

  #message {
    @apply absolute top-1/2 left-[45%];
  }
}
